.wrapper {
    width: 80%;
    margin: 0px auto;
}

.wrapper > div {
    padding: 20px;
}

.stats {
  display: flex;
  font-size: 22px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.stats > svg {
    margin-bottom: 5px;
}
.stats > div {
    margin-bottom: 5px;
}

.lineWrapper {
  width: 80%;
}

h2 {
  font-size: 29px;
}
