
.wrapper {
  width: 100%;
  max-width: 385px;
  color: var(--white);
  height: 162px;
  background: var(--primary);
  border-radius: 10px 10px 0px 0px;
}

.wrapper h2 {
  color: var(--white);
  padding-top: 24px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: 28px;
}

.wrapper h3 {
  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 0.5px;
}

.wrapper p {
  font-size: 17px;
  color: var(--white);
}

.wrapper > div {
  display: flex;
  padding-top: 14px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}
.wrapper > div > div + div {
  margin-right: 75px;
  line-height: 25px;
}

.wrapper > div > div + svg {
  margin-right: 28px;
}

.timer {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #4e3ba8;
  display: flex;
  align-items: center;
  justify-content: center;
}
