:root {
  --buttonShadow: 0px 4px 20px;
  --buttonPadding: 16px;
  --buttonFontSize: 17px;
}

.button {
  background: var(--primary);
  color: #eee;
  outline: none;
  border: none;
  border-radius: var(--borderRadius);
  padding: var(--buttonPadding);
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: var(--buttonFontSize);
  line-height: 21px;
}

.button:hover {
  box-shadow: var(--buttonShadow) var(--primaryRGBA);
}

.primary {
  background: var(--primary);
}

.primary:hover {
  box-shadow: var(--buttonShadow) var(--primaryRGBA);
}

.danger {
  background: var(--danger);
}

.danger:hover {
  box-shadow: var(--buttonShadow) var(--dangerRGBA);
}

.button:disabled, .primary:disabled, .danger:disabled {
  opacity: var(--disabled);
  box-shadow: none;
  cursor: not-allowed;
}

.small {
  width: auto;
  padding: 7px 20px;
  font-size: 12px;
}

.large {
  width: 211px;
}

.fluid {
  width: 100%;
}