.block {
  /* max-width: 50%; */
  max-height: 100%;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
    font-size: 35px;
    width: 80%;
    margin: 10px auto;
}

.title {
  color: var(--darkColor);
    width: 80%;
    margin: 20px auto;
}

.account, .title {
}

.tasks {
    width: 80%;
    margin: 20px auto;
  background: rgba(201, 205, 236, 0.1);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.tasks button {
  margin: 10px 0;
}

.list {
  box-sizing: border-box;
  max-height: 420px;
  width: 100%;
  padding: 0 20px;
  overflow-y: auto;
}

.buttons button{
 margin-left: 24px;
 margin-right: 24px;
}

.user {
  display: flex;
  align-items: center;
}

.logout {
  display: block;
  cursor: pointer;
  text-align: right;
  color: var(--primary);
}