:root {
  --textColor: #5b5b5b;
  --secondTextColor: #9f9f9f;
  --primary: #7B65E8;
  --white: #fff;
  --borderRadius: 5px;
  --disabled: .7;
}
  
* {
  padding: 0;
  margin: 0;
  color: var(--textColor);
}
